{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 100,
	"semicolons": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
