:root {
	/** CSS DARK THEME PRIMARY COLORS */
	--color-primary-100: #382bf0;
	--color-primary-200: #5e43f3;
	--color-primary-300: #7a5af5;
	--color-primary-400: #9171f8;
	--color-primary-500: #a688fa;
	--color-primary-600: #ba9ffb;


	/** CSS DARK THEME MIXED SURFACE COLORS */
	--color-surface-mixed-100: #1a1625;
	--color-surface-mixed-200: #2f2b3a;
	--color-surface-mixed-300: #46424f;
	--color-surface-mixed-400: #5e5a66;
	--color-surface-mixed-500: #76737e;
	--color-surface-mixed-600: #908d96;

	--success-color: #76B39D;
	--failure-color: #f0396a;
}

* {
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
	border: none;
}

body {
	background-color: var(--color-surface-mixed-100);
	font-family: 'Times New Roman', Times, serif;
	
	/* Needed for footer to hug the bottom of the screen */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#textarea-container {
	margin: 50px 30px 40px;
	gap: 30px 50px;
}

textarea {
	width: min(700px, 40vw);
	height: min(1200px, 70vh);

	padding: 20px;
	resize: none;
	opacity: 0.8;
	background-color: var(--color-surface-mixed-200);

	border: 2px solid var(--color-surface-mixed-300);
	border-radius: 10px;
}

@media screen and (max-width: 1000px) {
	textarea {
		width: 90vw;
	}
}

textarea:focus {
	box-shadow: 0 0 15px var(--color-surface-mixed-400);
	opacity: 1.0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#buttons-container {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 20px;
}

button {
	cursor: pointer;
}

.action-button {
	display: flex;
	align-items: center;

	background-color: var(--color-primary-400);
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s;

	opacity: 0.9;
	padding: 16px 32px;
	gap: 5px;

	border-radius: 50px;
}

.action-button:hover {
	opacity: 1.0;
}

.success {
	background-color: var(--success-color);
	transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.failure {
	background-color: var(--failure-color);
	transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#table-container {
	display: none;
	margin: 40px auto 30px;
	padding-bottom: 10px;
	/* For scroll bar */
	max-width: min(1300px, 90vw);
	border-radius: 10px;
	/* Don't use 'justify-content: center' since it will look weird on mobile */

	overflow: auto;
	transition: max-height 5s ease;
}

table {
	border-collapse: collapse;
	width: 100%;
	min-width: 1200px;
}

thead {
	background-color: var(--color-primary-300);
}

thead>tr>td {
	padding: 15px;
	font-weight: bold;
}

tbody>tr:nth-child(even) {
	background-color: var(--color-surface-mixed-300);
}

tbody>tr:nth-child(odd) {
	background-color: var(--color-surface-mixed-200);
}

td {
	border: 2px solid var(--color-surface-mixed-400);
	text-align: center;
	padding: 8px 15px;
}

#row-count-container {
	display: none;
	justify-content: center;
}

#row-count {
	background-color: var(--color-surface-mixed-400);
	padding: 10px 20px;
	border-radius: 5px;
}

footer {
	background-color: var(--color-surface-mixed-200);
	opacity: 0.8;
	min-height: 50px;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 40px;
}

.logo-container {
	background-color: var(--color-surface-mixed-300);
	padding: 5px 10px;
	border-radius: 5px;
	gap: 10px;
}

.logo {
	max-width: 20px;
	max-height: 20px;
}

button.demo {
	display: flex;
	background-color: var(--color-primary-400);
	align-items: center;

	gap: 5px;
	padding: 5px 10px;
	border-radius: 5px;
}